<section class="container-fluid projectsItems py-5" id="projectsItems">
  <div class="container-fluid">
    <div class="row container-md mx-auto">
      <div class="col-lg-4 my-2 w-100 p-0">
        <div class="card mx-auto" style="width: 18rem">
          <img src="image/blog.JPG" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Blog (Full-Stack)</h5>
            <p class="card-text">
              HTML, CSS, JS/JQUERY, BOOTSTRAP, EJS, NODEJS, EXPRESSJS, MONGODB/MONGOOSE
            </p>
            <a
              href="https://secure-coast-24568.herokuapp.com/home/1"
              target="_blank"
              class="btn btn-primary"
              >Go to website</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-2">
        <div class="card mx-auto" style="width: 18rem">
          <img src="image/sushi.JPG" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Sushi (Front-End)</h5>
            <p class="card-text">HTML, CSS, BOOTSTRAP, JS/JQUERY</p>
            <a
              href="https://protected-brook-62291.herokuapp.com/"
              target="_blank"
              class="btn btn-primary"
              >Go to website</a
            >
          </div>
        </div>
      </div>
            <div class="col-lg-4 my-2 w-100 p-0">
        <div class="card mx-auto" style="width: 18rem">
          <img src="image/Capture.JPG" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Basic Forums (Full-Stack)</h5>
            <p class="card-text">
              HTML, CSS, BOOTSTRAP, EJS, NODEJS, EXPRESSJS, MYSQL
            </p>
            <a
              href="https://github.com/Hatsuya1993/easyForums"
              target="_blank"
              class="btn btn-primary"
              >Visit Repository</a
            >
          </div>
        </div>
      </div>
                  <div class="col-lg-4 my-2 w-100 p-0">
        <div class="card mx-auto" style="width: 18rem">
          <img src="image/Reactjs.JPG" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">ClickUp Mimic (Front-End)</h5>
            <p class="card-text">
              ReactJs, EJS, CSS
            </p>
            <a
              href="https://vigilant-archimedes-ed3d11.netlify.app/"
              target="_blank"
              class="btn btn-primary"
              >Go to website</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
